[Unit]
Description={{ name }} Redis cache

[Container]
ContainerName={{ app_id }}-redis
Image=docker.io/library/redis:7-alpine
Network={{ app_id }}-net.network

[Service]
Restart=always

[Install]
WantedBy=default.target
